
<div class="row animated fadeIn fast">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Users</h3>
                <div *ngIf="users.length === 0" class="alert alert-info">
                    <p>Users don´t found</p>
                    <p class="mb-0"></p>
                </div>
                <div *ngIf="users.length > 0" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td>
                                    <img class="w75" [src]="user.img | image: 'users'" [alt]="user.name">
                                </td>
                                <td>{{user.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Doctors</h3>
                <div *ngIf="doctors.length === 0" class="alert alert-info">
                    <p>Doctors don´t found</p>
                    <p class="mb-0"></p>
                </div>
                <div *ngIf="doctors.length > 0" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cursor" *ngFor="let doctor of doctors" (click)="goToMaintenance(doctor._id)">
                                <td>
                                    <img class="w75" [src]="doctor.img | image: 'doctors'" [alt]="doctor.name">
                                </td>
                                <td>{{doctor.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Hospitals</h3>
                <div *ngIf="hospitals.length === 0" class="alert alert-info">
                    <p>Hospitals don´t found</p>
                    <p class="mb-0"></p>
                </div>
                <div *ngIf="hospitals.length > 0" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitals">
                                <td>
                                    <img class="w75" [src]="hospital.img | image: 'hospitals'" [alt]="hospital.name">
                                </td>
                                <td>{{hospital.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>